DB_HOST=db
DB_PORT=3306
DB_NAME=graduation
DB_USER=grad_user
DB_PASS=your_password_here
DB_ROOT_PASS=your_root_password_here
JWT_SECRET=change_me_in_production
MAIL_HOST=mail.treudler.net
MAIL_PORT=587
MAIL_USER=system@treudler.net
MAIL_PASS=password_for_mail_user_here
DEMO_MODE=false